/* Загальні стилі */
body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    margin: 0;
    padding: 0;
    background-color: #f4f4f9;
    color: #333;
}

/* Меню */
.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #2d3748; /* Темно-сірий */
    padding: 10px 20px;
    color: #ffffff;
}

.navbar a .logo {
    font-size: 1.5rem;
    font-weight: bold;
}

.navbar a .logo:hover {
    color: #38b2ac;
}

.navbar .menu {
    list-style: none;
    display: flex;
    margin: 0;
    padding: 0;
    gap: 20px;
}

.navbar .menu li {
    display: inline;
}

.navbar .menu li a {
    text-decoration: none;
    color: #ffffff;
    font-weight: bold;
    transition: color 0.3s;
}

.navbar .menu li a:hover {
    color: #38b2ac; /* М'ятний колір */
}


/* Заголовки */
h1, h2 {
    color: #444;
}

/* Список */
ul {
    list-style: none;
    padding: 0;
}

ul.menu li {
    width: 96%;
    margin: 10px 0;
    padding: 15px;
    border-radius: 5px;
    transition: transform 0.2s ease, background-color 0.2s ease;
}

ul.menu li:hover {
    transform: scale(1.02);
    /*background-color: rgba(13, 13, 68, 0.38);*/
}

/* Посилання */
a {
    text-decoration: none;
    color: #0056b3;
}

/*a:hover {*/
/*    text-decoration: underline;*/
/*}*/

/* Кнопки */
button {
    background-color: #0056b3;
    color: #ffffff;
    border: none;
    padding: 10px 15px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.2s ease;
}

button:hover {
    background-color: #003d80;
}


.button_read_more {
    position: absolute;
    bottom: 10px;
    right: 10px;
    background-color: #50adff;
    color: white;
    padding: 8px 12px;
    text-decoration: none;
    border-radius: 4px;
}

/* Контейнер */
.container {
    width: 100%;
    margin: 0;
    padding: 0px;
    background: #ffffff;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    border-radius: 8px;
    display: flex;
    flex-direction: row; /* Додано для структури sidebar + content */
}

/* SideBar Menu */
.sidebar {
    width: 200px;
    background-color: #425062;
    padding: 25px;
    border-right: 1px solid #ddd;
}

.sidebar ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar li {
    margin-bottom: 10px;
    padding: 5px;
    border-radius: 5px;
    transition: color 0.3s ease, background-color 0.3s ease;
    text-align: center;
}

.sidebar li a {
    text-decoration: none;
    color: #ffffff; /* Початковий колір тексту */
    font-weight: bold;
    display: block;
}

.sidebar li a:hover {
    color: #003d80; /* Колір тексту при наведенні */
}

/* Content */
.content {
    flex: 1;
    padding: 20px;
}

.selected_category{
    color: #003d80;
    text-decoration: none;
    font-weight: bold;
    display: block;
}