{% extends 'event/base.html' %}
{% load event_tags %}

{% block content %}
<div class="container">

    <!--            {% get_categories filter=1 as categories %}-->
    <!--            {% get_categories as categories %}-->

    {% show_categories selected_category=selected_category%}


    <!-- Main Content -->
    <main class="content">
        <h1>{{ title }}</h1>
        <ul>
            {% for ev in events %}
            <li class="events_li">
                {% if ev.image%}
                <img src="{{ ev.image.url }}" alt="{{ ev.name }}">
                {% endif %}
                <h2>{{ ev.name }}</h2>
                <p><strong>Author ID:</strong> {{ ev.authorId }}</p>
                <p><strong>Date:</strong> {{ ev.data }}</p>
                <p><strong>Description:</strong> {{ ev.description|truncatechars:20 }}</p>
                <p><strong>Category:</strong> {{ ev.category }}</p>
                <a href="{{ ev.get_absolute_url }}">
                    <div class="button_read_more">Read more</div>
                </a>
            </li>
            {% endfor %}
        </ul>
    </main>
</div>
{% endblock %}
